export SECRET_KEY={{ secret_key }}
export TEST_USER_PASSWORD={{ test_user_password }}
export DATABASE_HOST={{ database.instance.endpoint }}
export DATABASE_PASSWORD= {{ pg_app_password }}
export PURGED_DATABASE_HOST={{ database.instance.endpoint }}
export PURGED_DATABASE_PASSWORD= {{ pg_app_password }}
export AWS_ID={{ aws_id }}
export AWS_SECRET={{ aws_secret }}

export STATIC_BUCKET={{ project_slug }}-static-files
export MEDIA_BUCKET={{ project_slug }}-media-files

