{
  "development": {
    "aws_region": "us-east-1",
    "django_settings": "project.settings.development",
	"domain": "{{ domain }}",
    "certificate_arn": "{{ certificate_arn }}",
	  "s3_bucket": "{{ project_slug }}-zappa",
	  "environment_variables": {
	    "SECRET_KEY" :"{{ secret_key }}",
	    "TEST_USER_PASSWORD": "{{ test_user_password }}",
	    "DATABASE_HOST": "{{ database.instance.endpoint }}",
	    "DATABASE_PASSWORD": "{{ pg_app_password  }}",
	    "PURGED_DATABASE_HOST": "{{ database.instance.endpoint }}",
	    "PURGED_DATABASE_PASSWORD": "{{ pg_app_password }}",
	    "AWS_ID": "{{ aws_id }}",
	    "AWS_SECRET": "{{ aws_secret }}",
	    "STATIC_BUCKET": "{{ project_slug }}-static-files",
	    "MEDIA_BUCKET": "{{ project_slug }}-media-files"
	  },
  "exclude": ["node_modules", "static", "media", "staticfiles-cache", "tests", "fixtures"]
  }
}

