{
  "{{ environment_name }}": {
    "vpc_config": {
      "SubnetIds": [
        {% for subnet in private_subnets.subnets %}
        "{{ subnet.id }}",
        {% endfor %}
      ],
      "SecurityGroupIds": [
       "{{ lambda_sg.group_id }}"
      ]
    },
    "aws_region": "us-east-1",
    "django_settings": "project.settings.{{ settings_name }}",
    "domain": "{{ domain }}",
    "certificate_arn": "{{ certificate_arn }}",
    "s3_bucket": "{{ project_slug }}-zappa",
    "exclude": ["node_modules", "static", "media", "staticfiles-cache", "tests"]
  }
}

